h1{
  display: flex;
  justify-content: center;
  color: blueviolet;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > p{
  font-size: 40px;
  color: blueviolet;
}

section > img{
  border: 4px solid blueviolet;
}