h1{
  display: flex;
  justify-content: center;
  color: forestgreen;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > p{
  font-size: 40px;
  color: black;
  background-color: forestgreen;
  font-style: oblique;
}

section > img{
  border: 4px solid blueviolet;
}